.list{
    background: rgb(39, 43, 51);
    max-width: 100% !important; width: 100% !important; padding: 30px !important;
}
.loading{
    text-align: center;
    background-color: aliceblue;
    display: block;
    position: fixed;
    top: 200px;
    left: 0px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    z-index: 99;
}
.card{ margin-bottom: 20px; }
.status{ width: 10px; height: 10px; display: block; border-radius: 20px; float: left; margin: 8px; margin-left: 0px !important; margin-top: 4px;  }
.species{ float: left;  display: block; }
.card-body p{ list-style: 1 !important; margin-bottom: 3px; font-size: 12px; }
.location{ display: block; clear: both; }
a:link,a:visited{font-size: 14px; margin-bottom: 10px; font-weight: bold; color: orangered; text-decoration: none;  display: block;}

