
<div *ngIf="this.loading" class="loading">Loading...</div>
<app-search (searchChange)="onSearch($event)"></app-search>

<div class="container mt-4 list" (window:scroll)="onScroll()">
  <div class="row">
    <div class="col-md-4" *ngFor="let character of characters">
      <div class=" card">
      <div class="row">
        <div class="col-md-4 ">
          <a [routerLink]="['/characters', character.id]">
              <img [src]="character.image" class="card-img-top " alt="{{character.name}}" >
          </a>
          </div>
        
        <div class="col-md-6 ">
          <div class="card-body">
            <a [routerLink]="['/characters', character.id]">{{character.name}}</a>
            <p><span class="status"  [ngStyle]="{'backgroundColor': character.status === 'Alive' ? 'green' : 'red'}"></span> <span class="species">{{character.status}} - {{character.species}}</span></p>
           
            <p class="location"><b>Last known location:</b></p>
            <p>{{character.location.name}}</p>
            
        
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

